<footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-2 border-top"
    >
      <div class="col-md-4 d-flex align-items-center mx-4">
        <span class="mb-3 mb-md-0 text-muted">© 2022 Disqueria, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-4">
        <li class="ms-3">
          <a class="text-muted" href="#"
            ><ion-icon name="logo-twitter" size="large"></ion-icon
          ></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"
            ><ion-icon name="logo-instagram" size="large"></ion-icon
          ></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"
            ><ion-icon name="logo-facebook" size="large"></ion-icon
          ></a>
        </li>
      </ul>
    </footer>